[nginx]
%{ for index, name in nginx_name ~}
${name} ansible_host=${nginx_ip[index]} # ${nginx_name[index]}
%{ endfor ~}

[nginx:vars]
ansible_user=${username}
ansible_ssh_private_key_file=${ssh_nginx_key}