<!DOCTYPE html>
<html>

<head>
  <title>nginx {{ server_name }}!</title>
  <style>
    html {
      color-scheme: light dark;
    }

    body {
      width: 35em;
      margin: 0 auto;
      font-family: Tahoma, Verdana, Arial, sans-serif;
    }
  </style>
</head>

<body>
  <h1>Welcome to {{ server_name }}!</h1>
  <p>If you see this page, the NGINX web server is successfully installed and working.</p>
</body>

</html>